
<table class="table table-hover table-bordered table-striped text-center">
    <thead>
        <tr>
            <th>S/N</th>
            <th>Question No:</th>
            <th>Answer</th>
        </tr>
    </thead>
    <tbody>
    <!-- <tr *ngFor="let property of service.learn; let i = index" >
        <td>{{i+1}}</td>
        <td>{{property.myQuestionsId}}</td>
        <td>{{property.ans}}<input hidden [(ngModel)]="answer"></td>
    </tr> -->
    <td>{{learn}}</td>
    <!-- <tr *ngFor="let mark of service.list">
        <td>{{mark.ans + mark.ans}}</td>
    </tr> -->
    </tbody>
</table>