<!-- <router-outlet></router-outlet> -->
<div class="mr-auto pt-3 pb-0" style="margin: auto; max-width: 30%;
box-shadow: 2px 2px 2px 2px #aca8a8;
 margin-top: 8%; background-color: #f7f7f7; border-radius: 15px;">
    <div class="row tab-header mb-3 mt-3" style="text-align: center; font-size: 10px !important">
        <h2 class="col-md-6 pl-3 link" routerLink='/user/login' routerLinkActive='active' > Log In</h2>
        <h2 class="col-md-6 pr-4 link" routerLink='/user/registration' routerLinkActive='active' > Sign Up</h2>
    </div>
    <div class="col-md-10 offset-md-1 pb-3">
        <router-outlet></router-outlet>
    </div>
</div>